<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Vue Todo</title>
         <style>
            .completed {
            text-decoration: line-through;
            }
 
            .selected {
            color: red;
            }

            .empty{
                border-color: red;
            }
            .el-header {
                background-color: #B3C0D1;
                color: #333;
                text-align: center;
                line-height: 60px;
            }  
            .el-main {
                background-color:#E9EEF3;
                color: #333;
                
            }  
            .el-footer {
                background-color: #B3C0D1;
                color: #333;
                line-height: 60px;
            } 
        </style>
        <script src="../vue.js" type="text/javascript" charset="utf-8"></script>
        <!-- 引入样式 -->
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <!-- 引入组件库 -->
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    </head>
    <body>
        <div id="todo-app">
        <el-container>
            <el-header>
                <el-row>
                    <el-col :span="4">
                        <el-button type="primary" plain round  @click="markAllAsCompleted"/>
                            全部标为完成
                        </el-button>
                    </el-col>
                    <el-col :span="8">
                        <el-input type="text" :class='{empty: emptyChecked}' placeholder="添加 todo" v-model="newTodoTitle" @keyup.enter.native="addTodo"/>
                    </el-col>
                    <el-col :span="8">
                        <el-alert v-if="emptyChecked" style="color: red" title="添加失败" description="请输入内容" type="warning"></el-alert>
                    </el-col>
                </el-row>
            </el-header>
          <!-- todo list -->
          <el-main>
            <el-row v-for='todo in filteredTodos' :key='todo.id'>
                <el-col :span="6">      
                    <span :class='{completed: todo.completed}' @dblclick="editTodo(todo)">{{ todo.title }}</span>
                </el-col>  
                <el-col :span="3">
                    <el-button plain v-if="!todo.completed" type="success" @click="markAsCompleted(todo)"/>
                        标为完成
                    </el-button>    
                    <el-button plain v-if="todo.completed"  @click="markAsIncomplete(todo)"/>
                        标为未完成
                    </el-button>
                </el-col>
                <el-col :span="3">    
                    <el-button plain v-if="todo.removed" type="warning" @click="restoreFromBin(todo)"/>
                        还原
                    </el-button>
                    <el-button plain v-else="todo.removed" type="danger" @click="removeTodo(todo)">
                        删除
                    </el-button>
                </el-col> 
                <el-col :span="5">
                        <el-input type="text" value="编辑 todo..." v-if="editedTodo !==null && editedTodo.id===todo.id" v-model="todo.title" v-focus="true" @keyup.enter.native="editDone(todo)" @keyup.esc.native="cancelEdit(todo)"/>
                </el-col>     
            </el-row>
            <div v-if="hasRemovedTodo">
              <br>
              <el-button plain v-if="!this.isInBin" @click="restoreTodo()"/>
                撤销
              </el-button>
            </div>
          </el-main>
          <!-- end todo list -->
          <el-footer>
            <el-row>
                <el-col :span="4">
                    <span v-if="leftTodosCount" >剩余 {{leftTodosCount}} 项未完成</span>
                    <span v-if="this.used && !leftTodosCount">全部完成, 你真是太棒了！</span>
                    <span v-if="!this.used && !leftTodosCount">开始添加事项吧🍃</span>
                </el-col>
                <el-col :span="9">
                    筛选：
                        <el-button @click="flag='all'">
                            全部
                        </el-button>
                        <el-button @click="flag='ongoing'">
                            进行中
                        </el-button>
                        <el-button @click="flag='completed'">
                            已完成
                        </el-button>
                        <el-button v-if="todos.length || recycleBin.length" @click="flag='removed'">
                            回收站
                        </el-button>
                </el-col>
                <el-col :span="6">
                    <el-button v-if="filteredTodos.length && !this.isInBin" @click="clearCompleted">
                        清除已完成
                    </el-button>
                    <el-button v-if="filteredTodos.length && !this.isInBin" @click="clearAll">
                        清除全部
                    </el-button>
                    <el-button v-if="this.recycleBin.length && this.isInBin" @click="clearBin">
                        清空回收站
                    </el-button>
                </el-col>
            </el-row>  
          </el-footer>
        </el-container>
        </div>
        <script>
             //本地存储part
            var STORAGE_KEY = 'vue2.x-todo-tutorial';
            var todoStorage = {
                fetch: function () {
                    var todos = JSON.parse(localStorage.getItem(STORAGE_KEY)|| '[]');
                    todos.forEach(function (todo,index){
                        todo.id = index;
                    });
                    todoStorage.uid = todos.length;
                    return todos
                },
                save: function (todos) {
                    localStorage.setItem(STORAGE_KEY, JSON.stringify(todos))
                }
            };
        </script>
        <script>
            let id = 0;
            var app = new Vue({
                el:'#todo-app',
                data: function() {
                    return {
                        todos: todoStorage.fetch(),
                        newTodoTitle: '',
                        checkEmpty: false,
                        removedTodo: null,
                        editedTodo: null,
                        flag: 'all',
                        used: false, //是否被使用过，刚进入时为false，待完成事项为0仍不显示”全部完成“
                        recycleBin: [], //用于存放已经删除的todo
                        isInBin: false
                    }
                },
                //监测todos列表的变化，将变化存储到local storage
                watch: {
                    todos: {
                        handler: function (todos) {
                            todoStorage.save(todos)
                        },
                        deep: true
                    }
                },
                methods: {
                    addTodo: function () {
                        if(this.newTodoTitle != ''){//不是空串
                            this.todos.push({id: todoStorage.uid++, title: this.newTodoTitle, completed: false, removed: false});
                            this.newTodoTitle = '',
                            this.checkEmpty = false 
                        }
                        else this.checkEmpty = true                
                    },
                    markAsCompleted: function (todo) {
                        todo.completed = true
                    },
                    markAsIncomplete: function (todo) {
                        todo.completed = false
                    },
                    removeTodo1: function (todo) {
                        if(!confirm('确认删除？')){
                            return
                        }
                        let removeTodo1 = this.todos.splice(this.todos.indexOf(todo),1)[0];
                        removedTodo1.removed = true;
                        this.recycleBin.unshift(removedTodo1);
                    },
                    removeTodo: function (todo) {
                        let pos = this.todos.indexOf(todo);
                        let removedTodo = this.todos.splice(pos, 1)[0];
                        removedTodo.removed = true;
                        this.recycleBin.unshift(removedTodo);
                        this.removedTodo = {
                            pos: pos,
                            todo: removedTodo
                        };
                    },
                    restoreTodo: function () {
                        let todo = this.removedTodo.todo;
                        let pos1 = this.removedTodo.pos;
                        todo.removed = false;
                        this.todos.splice(pos1,0,todo);
                        let pos = this.recycleBin.indexOf(todo);
                        this.recycleBin.splice(pos,1);
                        this.removedTodo = null;
                    },
                    editTodo: function (todo) {
                        this.editedTodo = {id: todo.id, title: todo.title, completed: todo.completed}
                    },
                    editDone: function (todo) {
                        if(todo.title.length==0){
                            this.removeTodo(todo);
                            this.removedTodo.todo = this.editedTodo;
                            return;
                        }
                        this.editedTodo = null   
                    },
                    cancelEdit: function (todo) {
                        todo.title = this.editedTodo.title;
                        this.editedTodo = null
                    },
                    markAllAsCompleted: function () {
                        this.todos.map(function (todo) {
                            if (!todo.completed) {
                                todo.completed = true
                            }
                        })
                    },
                    clearCompleted: function () {
                        if(!confirm('确认清除已完成事项？')){
                            return
                        }
                        this.completedTodos.map(todo => todo.removed = true);
                        this.recycleBin.unshift(...this.completedTodos);
                        this.todos = this.todos.filter(todo => !todo.completed)
                    },
                    clearAll: function () {
                        if(!confirm('确认清除全部？')){
                            return
                        }
                        this.todos.map(todo => todo.removed = true);
                        this.recycleBin.unshift(...this.todos);
                        this.todos = []
                    },
                    restoreFromBin: function (todo) {
                        todo.removed = false;
                        this.todos.unshift(todo);
                        let pos = this.recycleBin.indexOf(todo);
                        this.recycleBin.splice(pos,1);
                        if(this.recycleBin.length==0) this.removedTodo=null;
                    },
                    clearBin: function () {
                        if(confirm("确定清空回收站吗？")){
                            this.recycleBin=[];
                            this.removedTodo=null;
                        }
                    }
                },
                computed: {
                    emptyChecked: function (){
                        return this.newTodoTitle.length === 0 && this.checkEmpty
                    },
                    hasRemovedTodo: function(){
                        return !!this.removedTodo
                    },
                    /*
                    leftTodosCount: function () {
                        return this.todos.filter(todo => !todo.completed).length;
                    },
                    */
                    leftTodos: function() {
                        return this.todos.filter(todo => !todo.completed)
                    },
                    leftTodosCount: function () {
                        if(this.leftTodos.length) this.used = true;
                        return this.leftTodos.length
                    },
                    leftTodosCountMsg: function () {
                        return `剩余 ${this.leftTodosCount} 项未完成`
                    },
                    
                    filteredTodos: function () {
                        if (this.flag ==='ongoing') {
                            this.isInBin = false;
                            return this.leftTodos
                        } else if (this.flag === 'completed') {
                            this.isInBin = false;
                            return this.todos.filter(todo => todo.completed)
                        } else if (this.flag === 'removed') {
                            this.isInBin = true;
                            return this.recycleBin
                        } else {
                            this.isInBin = false;
                            return this.todos;
                        }
                    },
                    completedTodos: function () {
                        return this.todos.filter(todo => todo.completed)
                    }
                    /*
                    filteredTodos: function () {
                        if (this.intention === 'ongoing') {
                            return this.todos.filter(todo => !todo.completed)
                        } else if (this.intention === 'completed') {
                            return this.todos.filter(todo => todo.completed)
                        } else {
                            return this.todos
                        }
                    }
                    */
                },
                directives: {
                    focus: {
                        inserted: function (el) {
                            el.focus()
                        }
                    }
                }
            })
        </script>
        </body>
</html>